{% extends 'base.html' %}

{% block header %}


{% with messages= get_flashed_messages() %}
{% if messages %}
{% for men in messages %}


<div class="alert alert-success alert-dismissible fade show" role="alert">
  <p>{{messages}}</p>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

{% endfor %}
{% endif %}
{% endwith%}

<h1 class="display-5 text-white text-center">{% block title %} Nuevo ToDo {% endblock %}</h1>
{% endblock %}

{% block content %}

<div class="col-md-4 offset-md-4">
  <div class="card card-body">

    <form   method="post">
    <div class="form-group">
      <input class="form-control" placeholder="Descripción" name="description" id="description" autocomplete="off" required>
    </div>

  <div class="form-group">
    <input class="btn btn-success btn-block"  type="submit" value="Guardar">
  </div>

  </form>

  </div>
</div>

{% endblock %}
